{
  "openapi": "3.0.0",
  "info": {
    "title": "KrakenKey API",
    "description": "Public API for KrakenKey: TLS certificate management and domain verification",
    "version": "0.1.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.krakenkey.io"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "AppController_getInfo",
        "summary": "Get API info",
        "description": "Returns the current status and version of the API",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [],
        "tags": [
          "Info"
        ]
      }
    },
    "/auth/register": {
      "get": {
        "operationId": "AuthController_register",
        "summary": "Redirect to registration",
        "parameters": [],
        "tags": [
          "Authentication"
        ],
        "responses": {
          "302": {
            "description": "Redirects to Authentik registration flow"
          }
        }
      }
    },
    "/auth/login": {
      "get": {
        "operationId": "AuthController_login",
        "summary": "Redirect to SSO login",
        "parameters": [],
        "tags": [
          "Authentication"
        ],
        "responses": {
          "302": {
            "description": "Redirects to Authentik login flow"
          }
        }
      }
    },
    "/auth/logout-url": {
      "get": {
        "operationId": "AuthController_getLogoutUrl",
        "summary": "Get the SSO logout URL",
        "description": "Returns the Authentik end-session endpoint and the post-logout redirect URI. The client adds its ID token as id_token_hint and sends the browser there, so the token goes to Authentik and not to this API.",
        "parameters": [],
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "End-session URL and post-logout redirect URI",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "example": "https://auth.krakenkey.io/application/o/krakenkey/end-session/"
                    },
                    "postLogoutRedirectUri": {
                      "type": "string",
                      "example": "https://app.krakenkey.io"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Authentik is not configured"
          }
        }
      }
    },
    "/auth/callback": {
      "get": {
        "operationId": "AuthController_callback",
        "summary": "OAuth callback",
        "parameters": [
          {
            "name": "code",
            "required": true,
            "in": "query",
            "description": "Authorization code from Authentik",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "required": true,
            "in": "query",
            "description": "OAuth state parameter for CSRF protection",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Returns JWT access token"
          }
        }
      }
    },
    "/auth/profile": {
      "get": {
        "operationId": "AuthController_getProfile",
        "summary": "Get current user profile with resource counts",
        "parameters": [],
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Full user profile data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "AuthController_updateProfile",
        "summary": "Update current user profile",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileDto"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Updated user profile"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/api-keys": {
      "get": {
        "operationId": "AuthController_listApiKeys",
        "summary": "List API keys for the current user",
        "parameters": [
          {
            "name": "includeRevoked",
            "required": false,
            "in": "query",
            "description": "true to also list keys revoked in the last 30 days (with revokedAt set)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys (metadata only, no secrets), with lastUsedAt and lastUsedIp"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "AuthController_createApiKey",
        "summary": "Create an API key",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyDto"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "API key created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/confirm-auto-renewal": {
      "post": {
        "operationId": "AuthController_confirmAutoRenewal",
        "summary": "Confirm intent to keep auto-renewal active (free tier)",
        "parameters": [],
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Auto-renewal confirmation timestamp reset"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/api-keys/{id}": {
      "delete": {
        "operationId": "AuthController_deleteApiKey",
        "summary": "Revoke an API key",
        "description": "The key stops working immediately. It stays listed with includeRevoked for 30 days.",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "API key UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "API key not found or already revoked"
          }
        }
      }
    },
    "/auth/device/code": {
      "post": {
        "operationId": "AuthController_createDeviceCode",
        "summary": "Start a CLI browser login",
        "description": "Returns a device code for the CLI to poll with and a user code for the user to approve in the dashboard.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeviceCodeDto"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Device and user codes issued"
          }
        }
      }
    },
    "/auth/device/token": {
      "post": {
        "operationId": "AuthController_pollDeviceToken",
        "summary": "Poll a CLI browser login",
        "description": "Returns status pending, slow_down, denied or expired, or approved with a new API key. The key is returned once.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceTokenDto"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Current login status"
          }
        }
      }
    },
    "/auth/device/{userCode}": {
      "get": {
        "operationId": "AuthController_getDeviceRequest",
        "summary": "Show a pending CLI login before approving it",
        "parameters": [
          {
            "name": "userCode",
            "required": true,
            "in": "path",
            "description": "User code shown by the CLI",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "403": {
            "description": "Called with an API key"
          },
          "404": {
            "description": "Not found or expired"
          }
        }
      }
    },
    "/auth/device/approve": {
      "post": {
        "operationId": "AuthController_approveDevice",
        "summary": "Approve a CLI login",
        "description": "Creates an API key for the signed-in user and hands it to the waiting CLI. Requires a dashboard session; API keys cannot approve logins.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceUserCodeDto"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "402": {
            "description": "API key limit reached"
          },
          "403": {
            "description": "Called with an API key"
          },
          "404": {
            "description": "Not found or expired"
          }
        }
      }
    },
    "/auth/device/deny": {
      "post": {
        "operationId": "AuthController_denyDevice",
        "summary": "Deny a CLI login",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceUserCodeDto"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "403": {
            "description": "Called with an API key"
          },
          "404": {
            "description": "Not found or expired"
          }
        }
      }
    },
    "/auth/github-oidc": {
      "post": {
        "operationId": "GithubOidcController_exchange",
        "summary": "Exchange a GitHub Actions OIDC token for a short-lived API key (15 minutes)",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GithubOidcExchangeDto"
              }
            }
          }
        },
        "tags": [
          "GitHub OIDC"
        ],
        "responses": {
          "200": {
            "description": "Short-lived API key"
          },
          "401": {
            "description": "Token invalid, expired or for another audience"
          },
          "403": {
            "description": "No trust policy matches the repository, ref and environment"
          },
          "409": {
            "description": "Several trust policies match; pass trustId"
          }
        }
      }
    },
    "/auth/github-oidc/trusts": {
      "get": {
        "operationId": "GithubOidcController_list",
        "summary": "List GitHub OIDC trust policies",
        "parameters": [],
        "tags": [
          "GitHub OIDC"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "GithubOidcController_create",
        "summary": "Trust a GitHub repository to exchange OIDC tokens for keys (dashboard session only)",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGithubOidcTrustDto"
              }
            }
          }
        },
        "tags": [
          "GitHub OIDC"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Trust policy created"
          }
        }
      }
    },
    "/auth/github-oidc/trusts/{id}": {
      "delete": {
        "operationId": "GithubOidcController_remove",
        "summary": "Delete a GitHub OIDC trust policy (dashboard session only)",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "GitHub OIDC"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/billing/checkout": {
      "post": {
        "operationId": "BillingController_checkout",
        "summary": "Create a Stripe Checkout session",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutDto"
              }
            }
          }
        },
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Checkout session created"
          },
          "400": {
            "description": "Plan not available"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/billing/subscription": {
      "get": {
        "operationId": "BillingController_getSubscription",
        "summary": "Get current user's subscription",
        "parameters": [],
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/billing/portal": {
      "post": {
        "operationId": "BillingController_createPortal",
        "summary": "Create a Stripe Customer Portal session",
        "parameters": [],
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Portal session created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No subscription found"
          }
        }
      }
    },
    "/billing/upgrade/preview": {
      "post": {
        "operationId": "BillingController_previewUpgrade",
        "summary": "Preview prorated cost for a plan upgrade",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpgradePlanDto"
              }
            }
          }
        },
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Upgrade preview details"
          },
          "400": {
            "description": "Invalid upgrade path"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No active subscription"
          }
        }
      }
    },
    "/billing/upgrade": {
      "post": {
        "operationId": "BillingController_upgrade",
        "summary": "Upgrade subscription with proration",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpgradePlanDto"
              }
            }
          }
        },
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Subscription upgraded"
          },
          "400": {
            "description": "Invalid upgrade path"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No active subscription"
          }
        }
      }
    },
    "/certs/tls": {
      "get": {
        "operationId": "TlsController_findAll",
        "summary": "List all TLS certificates",
        "parameters": [],
        "tags": [
          "TLS Certificates"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of certificates for the authenticated user or their org"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "TlsController_create",
        "summary": "Request a new TLS certificate",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTlsCrtDto"
              }
            }
          }
        },
        "tags": [
          "TLS Certificates"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Certificate request submitted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Viewers cannot request certificates"
          },
          "409": {
            "description": "An identical certificate request (same CSR) is already being processed. Duplicate requests within 15 minutes return the original certificate instead of creating a new one."
          }
        }
      }
    },
    "/certs/tls/{id}/details": {
      "get": {
        "operationId": "TlsController_getDetails",
        "summary": "Get parsed certificate details from issued cert",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Certificate ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "TLS Certificates"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Parsed certificate details"
          },
          "400": {
            "description": "Certificate not yet issued"
          },
          "404": {
            "description": "Certificate not found"
          }
        }
      }
    },
    "/certs/tls/{id}/chain": {
      "get": {
        "operationId": "TlsController_getChain",
        "summary": "Get full certificate chain with parsed details",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Certificate ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "TLS Certificates"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Full chain info: leaf cert details, intermediate details, and full chain PEM"
          },
          "400": {
            "description": "Certificate not yet issued"
          },
          "404": {
            "description": "Certificate not found"
          }
        }
      }
    },
    "/certs/tls/{id}": {
      "get": {
        "operationId": "TlsController_findOne",
        "summary": "Get certificate details",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Certificate ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "TLS Certificates"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate details"
          },
          "404": {
            "description": "Certificate not found"
          }
        }
      },
      "patch": {
        "operationId": "TlsController_update",
        "summary": "Update a certificate",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Certificate ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTlsCrtDto"
              }
            }
          }
        },
        "tags": [
          "TLS Certificates"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate updated"
          },
          "400": {
            "description": "Validation failed, for example managedBy not 'connector' or null"
          },
          "403": {
            "description": "Viewers cannot update certificates"
          },
          "404": {
            "description": "Certificate not found"
          }
        }
      },
      "delete": {
        "operationId": "TlsController_remove",
        "summary": "Delete a failed or revoked certificate",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Certificate ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "TLS Certificates"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate deleted"
          },
          "400": {
            "description": "Certificate not in failed or revoked state"
          },
          "403": {
            "description": "Viewers cannot delete certificates"
          },
          "404": {
            "description": "Certificate not found"
          }
        }
      }
    },
    "/certs/tls/{id}/revoke": {
      "post": {
        "operationId": "TlsController_revoke",
        "summary": "Revoke a certificate",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Certificate ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeTlsCrtDto"
              }
            }
          }
        },
        "tags": [
          "TLS Certificates"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate revocation initiated"
          },
          "400": {
            "description": "Certificate not in issued state"
          },
          "403": {
            "description": "Viewers cannot revoke certificates"
          },
          "404": {
            "description": "Certificate not found"
          }
        }
      }
    },
    "/certs/tls/{id}/renew": {
      "post": {
        "operationId": "TlsController_renew",
        "summary": "Renew a certificate",
        "description": "Queues a renewal. Without a body the CSR stored at first issuance is used again. With { csrPem } the certificate is renewed with that CSR (for example a new key) and it replaces the stored CSR.",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Certificate ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ifDue",
            "required": false,
            "in": "query",
            "description": "Only renew if the certificate is inside its renewal window (free: 5 days, paid: 30 days before expiry; at least 30 days for connector-managed certificates, which are due once their renewAfter has passed). Otherwise nothing is queued and the response has skipped: true. Default: false (always renew).",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenewTlsCrtDto"
              }
            }
          }
        },
        "tags": [
          "TLS Certificates"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "ifDue=true and the certificate is not due yet; nothing was queued (skipped: true, reason: 'not_due')"
          },
          "201": {
            "description": "Certificate renewal initiated (skipped: false)"
          },
          "400": {
            "description": "Certificate not issued or missing CSR data, invalid CSR, or 'CSR names must match the certificate'"
          },
          "403": {
            "description": "Viewers cannot renew certificates"
          },
          "404": {
            "description": "Certificate not found"
          }
        }
      }
    },
    "/certs/tls/{id}/retry": {
      "post": {
        "operationId": "TlsController_retry",
        "summary": "Retry a failed certificate issuance",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Certificate ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "TLS Certificates"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate retry initiated"
          },
          "400": {
            "description": "Certificate not in failed state"
          },
          "403": {
            "description": "Viewers cannot retry certificates"
          },
          "404": {
            "description": "Certificate not found"
          }
        }
      }
    },
    "/domains": {
      "post": {
        "operationId": "DomainsController_create",
        "summary": "Register a new domain",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainDto"
              }
            }
          }
        },
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Domain registered"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Viewers cannot register domains"
          }
        }
      },
      "get": {
        "operationId": "DomainsController_findAll",
        "summary": "List all domains",
        "parameters": [],
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains for the authenticated user or their org"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/domains/{id}": {
      "get": {
        "operationId": "DomainsController_findOne",
        "summary": "Get domain details",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Domain UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details"
          },
          "404": {
            "description": "Domain not found"
          }
        }
      },
      "delete": {
        "operationId": "DomainsController_remove",
        "summary": "Delete a domain",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Domain UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted"
          },
          "403": {
            "description": "Viewers cannot delete domains"
          },
          "404": {
            "description": "Domain not found"
          }
        }
      }
    },
    "/domains/{id}/verify": {
      "post": {
        "operationId": "DomainsController_verify",
        "summary": "Trigger DNS verification",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Domain UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Verification initiated"
          },
          "403": {
            "description": "Viewers cannot verify domains"
          },
          "404": {
            "description": "Domain not found"
          }
        }
      }
    },
    "/endpoints": {
      "post": {
        "operationId": "EndpointsController_create",
        "summary": "Register a new monitored endpoint",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEndpointDto"
              }
            }
          }
        },
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Endpoint created"
          },
          "403": {
            "description": "Plan limit exceeded"
          }
        }
      },
      "get": {
        "operationId": "EndpointsController_findAll",
        "summary": "List all monitored endpoints",
        "parameters": [],
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of endpoints"
          }
        }
      }
    },
    "/endpoints/{id}": {
      "get": {
        "operationId": "EndpointsController_findOne",
        "summary": "Get endpoint details",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Endpoint UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint details"
          },
          "404": {
            "description": "Endpoint not found"
          }
        }
      },
      "patch": {
        "operationId": "EndpointsController_update",
        "summary": "Update endpoint",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Endpoint UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEndpointDto"
              }
            }
          }
        },
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint updated"
          },
          "404": {
            "description": "Endpoint not found"
          }
        }
      },
      "delete": {
        "operationId": "EndpointsController_remove",
        "summary": "Delete an endpoint",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Endpoint UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint deleted"
          },
          "404": {
            "description": "Endpoint not found"
          }
        }
      }
    },
    "/endpoints/probes/mine": {
      "get": {
        "operationId": "EndpointsController_listUserProbes",
        "summary": "List the user's connected probes available for assignment",
        "parameters": [],
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of connected probes"
          }
        }
      }
    },
    "/endpoints/{id}/probes": {
      "post": {
        "operationId": "EndpointsController_assignProbes",
        "summary": "Assign connected probes to an endpoint",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Endpoint UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignProbesDto"
              }
            }
          }
        },
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Probes assigned"
          },
          "404": {
            "description": "Endpoint not found"
          }
        }
      }
    },
    "/endpoints/{id}/probes/{probeId}": {
      "delete": {
        "operationId": "EndpointsController_unassignProbe",
        "summary": "Unassign a connected probe from an endpoint",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Endpoint UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "probeId",
            "required": true,
            "in": "path",
            "description": "Probe ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Probe unassigned"
          },
          "404": {
            "description": "Assignment not found"
          }
        }
      }
    },
    "/endpoints/{id}/regions": {
      "post": {
        "operationId": "EndpointsController_addRegion",
        "summary": "Add a hosted probe region to an endpoint",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Endpoint UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddHostedRegionDto"
              }
            }
          }
        },
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Region added"
          },
          "403": {
            "description": "Plan limit exceeded"
          },
          "404": {
            "description": "Endpoint not found"
          }
        }
      }
    },
    "/endpoints/{id}/regions/{region}": {
      "delete": {
        "operationId": "EndpointsController_removeRegion",
        "summary": "Remove a hosted probe region from an endpoint",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Endpoint UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "required": true,
            "in": "path",
            "description": "Region identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Region removed"
          },
          "404": {
            "description": "Region not found"
          }
        }
      }
    },
    "/endpoints/{id}/scan": {
      "post": {
        "operationId": "EndpointsController_requestScan",
        "summary": "Request an on-demand scan of this endpoint",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Endpoint UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Scan requested"
          },
          "404": {
            "description": "Endpoint not found"
          }
        }
      }
    },
    "/endpoints/{id}/results": {
      "get": {
        "operationId": "EndpointsController_getResults",
        "summary": "Get paginated scan results for an endpoint",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Endpoint UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Scan results"
          },
          "404": {
            "description": "Endpoint not found"
          }
        }
      }
    },
    "/endpoints/{id}/results/export": {
      "get": {
        "operationId": "EndpointsController_exportResults",
        "summary": "Export raw scan results as CSV or JSON",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Endpoint UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "required": false,
            "in": "query",
            "description": "Export format (default: json)",
            "schema": {
              "enum": [
                "json",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Exported scan results"
          },
          "404": {
            "description": "Endpoint not found"
          }
        }
      }
    },
    "/endpoints/{id}/results/latest": {
      "get": {
        "operationId": "EndpointsController_getLatestResults",
        "summary": "Get the latest scan result per probe for an endpoint",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Endpoint UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Latest scan results by probe"
          },
          "404": {
            "description": "Endpoint not found"
          }
        }
      }
    },
    "/feedback": {
      "post": {
        "operationId": "FeedbackController_create",
        "summary": "Submit feedback",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFeedbackDto"
              }
            }
          }
        },
        "tags": [
          "Feedback"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Feedback submitted successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "HealthController_health",
        "summary": "Liveness check",
        "parameters": [],
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "API is live"
          }
        }
      }
    },
    "/health/readiness": {
      "get": {
        "operationId": "HealthController_readiness",
        "summary": "Readiness check — verifies DB, Redis, and Authentik",
        "parameters": [],
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "All dependencies healthy\n\nThe Health Check is successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "info": {
                      "type": "object",
                      "example": {
                        "database": {
                          "status": "up"
                        }
                      },
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "status"
                        ],
                        "properties": {
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": true
                      },
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "example": {},
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "status"
                        ],
                        "properties": {
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": true
                      },
                      "nullable": true
                    },
                    "details": {
                      "type": "object",
                      "example": {
                        "database": {
                          "status": "up"
                        }
                      },
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "status"
                        ],
                        "properties": {
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "One or more dependencies unhealthy\n\nThe Health Check is not successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "info": {
                      "type": "object",
                      "example": {
                        "database": {
                          "status": "up"
                        }
                      },
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "status"
                        ],
                        "properties": {
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": true
                      },
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "example": {
                        "redis": {
                          "status": "down",
                          "message": "Could not connect"
                        }
                      },
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "status"
                        ],
                        "properties": {
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": true
                      },
                      "nullable": true
                    },
                    "details": {
                      "type": "object",
                      "example": {
                        "database": {
                          "status": "up"
                        },
                        "redis": {
                          "status": "down",
                          "message": "Could not connect"
                        }
                      },
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "status"
                        ],
                        "properties": {
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notifications/channels": {
      "get": {
        "operationId": "NotificationChannelsController_list",
        "summary": "List Slack, Teams and webhook channels",
        "parameters": [],
        "tags": [
          "Notification channels"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Channels (URLs masked)"
          }
        }
      },
      "post": {
        "operationId": "NotificationChannelsController_create",
        "summary": "Add a notification channel",
        "description": "For webhook channels the response includes the signing secret. It is shown only once.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNotificationChannelDto"
              }
            }
          }
        },
        "tags": [
          "Notification channels"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Channel created"
          },
          "400": {
            "description": "Invalid URL, unknown event or channel limit reached"
          }
        }
      }
    },
    "/notifications/channels/{id}": {
      "patch": {
        "operationId": "NotificationChannelsController_update",
        "summary": "Update a notification channel",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Channel UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNotificationChannelDto"
              }
            }
          }
        },
        "tags": [
          "Notification channels"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Channel updated"
          },
          "404": {
            "description": "Channel not found"
          }
        }
      },
      "delete": {
        "operationId": "NotificationChannelsController_remove",
        "summary": "Delete a notification channel",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Channel UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Notification channels"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "204": {
            "description": "Channel deleted"
          },
          "404": {
            "description": "Channel not found"
          }
        }
      }
    },
    "/notifications/channels/{id}/test": {
      "post": {
        "operationId": "NotificationChannelsController_test",
        "summary": "Send a test alert",
        "description": "Sends a `test` event right away and reports what the destination answered.",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Channel UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Notification channels"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ ok, status, error }"
          },
          "404": {
            "description": "Channel not found"
          }
        }
      }
    },
    "/notifications/channels/{id}/rotate-secret": {
      "post": {
        "operationId": "NotificationChannelsController_rotateSecret",
        "summary": "Rotate a webhook signing secret",
        "description": "Returns the new secret once. The old secret stops working immediately.",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Channel UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Notification channels"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ secret }"
          },
          "400": {
            "description": "Not a webhook channel"
          },
          "404": {
            "description": "Channel not found"
          }
        }
      }
    },
    "/organizations": {
      "post": {
        "operationId": "OrganizationsController_create",
        "summary": "Create a new organization",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrgDto"
              }
            }
          }
        },
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Organization created"
          },
          "409": {
            "description": "User already belongs to an org"
          }
        }
      }
    },
    "/organizations/{id}": {
      "get": {
        "operationId": "OrganizationsController_findOne",
        "summary": "Get organization details",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Organization UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details"
          },
          "404": {
            "description": "Organization not found"
          }
        }
      },
      "patch": {
        "operationId": "OrganizationsController_update",
        "summary": "Update organization",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Organization UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrgDto"
              }
            }
          }
        },
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Organization updated"
          }
        }
      },
      "delete": {
        "operationId": "OrganizationsController_deleteOrg",
        "summary": "Delete organization",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Organization UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "204": {
            "description": "Organization deleted"
          }
        }
      }
    },
    "/organizations/{id}/members": {
      "post": {
        "operationId": "OrganizationsController_inviteMember",
        "summary": "Invite a user to the organization",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Organization UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteMemberDto"
              }
            }
          }
        },
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Member invited"
          },
          "404": {
            "description": "Organization or user not found"
          },
          "409": {
            "description": "User already in another org"
          }
        }
      }
    },
    "/organizations/{id}/members/{userId}": {
      "delete": {
        "operationId": "OrganizationsController_removeMember",
        "summary": "Remove a member from the organization",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Organization UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "description": "User ID to remove",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "204": {
            "description": "Member removed"
          },
          "400": {
            "description": "Cannot remove the owner"
          },
          "404": {
            "description": "Member not found in org"
          }
        }
      },
      "patch": {
        "operationId": "OrganizationsController_updateMemberRole",
        "summary": "Update a member's role",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Organization UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberRoleDto"
              }
            }
          }
        },
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Role updated"
          }
        }
      }
    },
    "/organizations/{id}/transfer-ownership": {
      "post": {
        "operationId": "OrganizationsController_transferOwnership",
        "summary": "Transfer organization ownership",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Organization UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferOwnershipDto"
              }
            }
          }
        },
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Ownership transferred"
          }
        }
      }
    },
    "/probes/register": {
      "post": {
        "operationId": "ProbesController_register",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterProbeDto"
              }
            }
          }
        },
        "tags": [
          "Probes"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": ""
          }
        }
      }
    },
    "/probes/report": {
      "post": {
        "operationId": "ProbesController_report",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitReportDto"
              }
            }
          }
        },
        "tags": [
          "Probes"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": ""
          }
        }
      }
    },
    "/probes/{probeId}/config": {
      "get": {
        "operationId": "ProbesController_getConfig",
        "parameters": [
          {
            "name": "probeId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Probes"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/public-scan": {
      "post": {
        "operationId": "PublicScanController_scan",
        "summary": "Scan a TLS endpoint (no auth required)",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicScanRequestDto"
              }
            }
          }
        },
        "tags": [
          "Public Scan"
        ],
        "responses": {
          "200": {
            "description": "Scan result"
          },
          "400": {
            "description": "Invalid hostname or private address"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Scanner unavailable"
          }
        }
      }
    },
    "/reports": {
      "post": {
        "operationId": "ReportsController_create",
        "summary": "Create a portfolio TLS report for a list of hosts",
        "description": "Hosts are scanned in the background; poll GET /reports/:id until status is complete. Free plan: 25 hosts per report, paid plans: 250.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReportDto"
              }
            }
          }
        },
        "tags": [
          "Reports"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Report created (pending)"
          },
          "400": {
            "description": "Invalid or private host"
          },
          "403": {
            "description": "Plan limit exceeded"
          }
        }
      },
      "get": {
        "operationId": "ReportsController_findAll",
        "summary": "List reports, newest first (summary only)",
        "parameters": [],
        "tags": [
          "Reports"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Reports"
          }
        }
      }
    },
    "/reports/{id}": {
      "get": {
        "operationId": "ReportsController_findOne",
        "summary": "Get a report with every host, most urgent first",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Report UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Reports"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Report"
          },
          "404": {
            "description": "Report not found"
          }
        }
      },
      "delete": {
        "operationId": "ReportsController_remove",
        "summary": "Delete a report and its share link",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Report UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Reports"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "description": "Report not found"
          }
        }
      }
    },
    "/reports/{id}/export": {
      "get": {
        "operationId": "ReportsController_export",
        "summary": "Download a report as CSV",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Report UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "required": false,
            "in": "query",
            "schema": {
              "enum": [
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "tags": [
          "Reports"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "CSV file"
          },
          "404": {
            "description": "Report not found"
          }
        }
      }
    },
    "/reports/{id}/share": {
      "post": {
        "operationId": "ReportsController_share",
        "summary": "Create a read-only share link (replaces any existing link)",
        "description": "The link works without login for 30 days. The token is returned once and only its hash is stored.",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Report UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Reports"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "{ url, token, expiresAt }"
          },
          "404": {
            "description": "Report not found"
          }
        }
      },
      "delete": {
        "operationId": "ReportsController_revokeShare",
        "summary": "Revoke the share link",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Report UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Reports"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked"
          },
          "404": {
            "description": "Report not found"
          }
        }
      }
    },
    "/public/reports/{token}": {
      "get": {
        "operationId": "PublicReportsController_findShared",
        "summary": "View a shared report (no auth required)",
        "parameters": [
          {
            "name": "token",
            "required": true,
            "in": "path",
            "description": "Share token from the link",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "Report contents"
          },
          "404": {
            "description": "Unknown, revoked or expired link"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/public/reports/{token}/export": {
      "get": {
        "operationId": "PublicReportsController_exportShared",
        "summary": "Download a shared report as CSV (no auth)",
        "parameters": [
          {
            "name": "token",
            "required": true,
            "in": "path",
            "description": "Share token from the link",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "required": false,
            "in": "query",
            "schema": {
              "enum": [
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "CSV file"
          },
          "404": {
            "description": "Unknown, revoked or expired link"
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "UsersController_findAll",
        "summary": "List all users (admin only)",
        "parameters": [],
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of all users"
          },
          "403": {
            "description": "Admin access required"
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "operationId": "UsersController_findOne",
        "summary": "Get user by ID (own record or admin)",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "User details"
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "patch": {
        "operationId": "UsersController_update",
        "summary": "Update a user (own record or admin)",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserDto"
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "User updated"
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "delete": {
        "operationId": "UsersController_remove",
        "summary": "Delete a user account with cascade (own record or admin)",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "User and all associated data deleted"
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UpdateProfileDto": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "User display name",
            "example": "John Doe",
            "maxLength": 100
          },
          "notificationPreferences": {
            "type": "object",
            "description": "Notification preferences (omitted keys default to enabled)",
            "example": {
              "cert_issued": true,
              "cert_failed": false
            }
          }
        }
      },
      "CreateApiKeyDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "A human-friendly name for this API key",
            "example": "my-ci-key",
            "default": "default"
          },
          "expiresAt": {
            "type": "string",
            "description": "ISO 8601 expiration date (optional, null = never expires)",
            "example": "2027-01-01T00:00:00.000Z"
          },
          "scopes": {
            "type": "array",
            "description": "Scopes the key may use. Omit for full access. Cannot be changed after creation.",
            "example": [
              "certs:read",
              "certs:renew",
              "account:read"
            ],
            "items": {
              "type": "string",
              "enum": [
                "certs:read",
                "certs:issue",
                "certs:renew",
                "certs:revoke",
                "domains:read",
                "domains:write",
                "endpoints:read",
                "endpoints:write",
                "probes:report",
                "account:read",
                "account:write"
              ]
            }
          },
          "allowedDomainIds": {
            "description": "Limit the key to these domain ids: certificates, domains and endpoints under other domains are hidden and new ones are refused.",
            "maxItems": 50,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowedCertIds": {
            "description": "Limit the key to these certificate ids. Such a key cannot request new certificates.",
            "maxItems": 50,
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "allowedIps": {
            "description": "IP addresses or CIDR ranges (IPv4 or IPv6) the key may be used from. Requests from elsewhere get 403.",
            "maxItems": 20,
            "example": [
              "203.0.113.10",
              "2001:db8::/48"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateDeviceCodeDto": {
        "type": "object",
        "properties": {
          "clientName": {
            "type": "string",
            "description": "Shown on the approval page and used in the API key name, e.g. the machine hostname",
            "example": "build-01"
          }
        }
      },
      "DeviceTokenDto": {
        "type": "object",
        "properties": {
          "deviceCode": {
            "type": "string",
            "description": "Device code from POST /auth/device/code"
          }
        },
        "required": [
          "deviceCode"
        ]
      },
      "DeviceUserCodeDto": {
        "type": "object",
        "properties": {
          "userCode": {
            "type": "string",
            "description": "User code shown by the CLI",
            "example": "BCDF-GHJK"
          }
        },
        "required": [
          "userCode"
        ]
      },
      "GithubOidcExchangeDto": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "GitHub Actions OIDC token (JWT)"
          },
          "trustId": {
            "type": "string",
            "description": "Trust policy id; needed only when several policies match the repository"
          }
        },
        "required": [
          "token"
        ]
      },
      "CreateGithubOidcTrustDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "pfe renewal"
          },
          "repository": {
            "type": "string",
            "example": "krakenkey/website"
          },
          "repositoryId": {
            "type": "string",
            "description": "GitHub's numeric repository id, to pin the policy before its first run. Find it with `gh api repos/OWNER/NAME --jq .id`. Public repositories are looked up automatically when omitted.",
            "example": "123456789"
          },
          "allowedRefs": {
            "description": "Refs allowed to exchange tokens, e.g. refs/heads/main or refs/tags/v*. Omit for any ref.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "environment": {
            "type": "string",
            "description": "Only jobs in this GitHub environment match"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "certs:read",
                "certs:issue",
                "certs:renew",
                "certs:revoke",
                "domains:read",
                "domains:write",
                "endpoints:read",
                "endpoints:write",
                "probes:report",
                "account:read",
                "account:write"
              ]
            }
          },
          "allowedDomainIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowedCertIds": {
            "type": "array",
            "items": {
              "type": "number"
            }
          }
        },
        "required": [
          "name",
          "repository"
        ]
      },
      "CreateCheckoutDto": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string",
            "description": "Plan to subscribe to",
            "example": "starter",
            "enum": [
              "starter",
              "team",
              "business",
              "enterprise"
            ]
          }
        },
        "required": [
          "plan"
        ]
      },
      "UpgradePlanDto": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string",
            "description": "Plan to upgrade to",
            "example": "team",
            "enum": [
              "starter",
              "team",
              "business",
              "enterprise"
            ]
          }
        },
        "required": [
          "plan"
        ]
      },
      "CreateTlsCrtDto": {
        "type": "object",
        "properties": {
          "csrPem": {
            "type": "string",
            "description": "PEM-encoded Certificate Signing Request",
            "example": "-----BEGIN CERTIFICATE REQUEST-----\n...\n-----END CERTIFICATE REQUEST-----"
          }
        },
        "required": [
          "csrPem"
        ]
      },
      "UpdateTlsCrtDto": {
        "type": "object",
        "properties": {
          "csrPem": {
            "type": "string",
            "description": "PEM-encoded Certificate Signing Request",
            "example": "-----BEGIN CERTIFICATE REQUEST-----\n...\n-----END CERTIFICATE REQUEST-----"
          },
          "autoRenew": {
            "type": "boolean",
            "description": "Enable or disable automatic renewal"
          },
          "managedBy": {
            "type": "string",
            "description": "Who renews the certificate. 'connector': a customer-hosted connector renews it with its own keys and KrakenKey never renews it on its own (expiry alerts and ARI checks still run). null: KrakenKey renews it as usual.",
            "enum": [
              "connector"
            ],
            "nullable": true
          }
        }
      },
      "RevokeTlsCrtDto": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "number",
            "description": "RFC 5280 revocation reason code: 0=unspecified, 1=keyCompromise, 3=affiliationChanged, 4=superseded, 5=cessationOfOperation",
            "example": 0,
            "minimum": 0,
            "maximum": 10
          }
        }
      },
      "RenewTlsCrtDto": {
        "type": "object",
        "properties": {
          "csrPem": {
            "type": "string",
            "description": "PEM-encoded CSR to renew with, usually for a new private key. It gets the same checks as a new request, and its names (CN and DNS SANs, case-insensitive) must equal the certificate's names. It replaces the stored CSR, so later renewals use it too. Not stored when ifDue=true skips the renewal.",
            "example": "-----BEGIN CERTIFICATE REQUEST-----\n...\n-----END CERTIFICATE REQUEST-----"
          }
        }
      },
      "CreateDomainDto": {
        "type": "object",
        "properties": {
          "hostname": {
            "type": "string",
            "description": "Fully qualified domain name",
            "example": "example.com"
          }
        },
        "required": [
          "hostname"
        ]
      },
      "CreateEndpointDto": {
        "type": "object",
        "properties": {
          "host": {
            "type": "string",
            "description": "Hostname to monitor",
            "example": "example.com"
          },
          "port": {
            "type": "number",
            "description": "Port to connect to (default: 443)",
            "example": 443
          },
          "sni": {
            "type": "string",
            "description": "SNI override (defaults to host)",
            "example": "example.com"
          },
          "label": {
            "type": "string",
            "description": "User-friendly label",
            "example": "Production API"
          },
          "probeIds": {
            "description": "IDs of connected probes to assign for scanning",
            "example": [
              "probe-uuid-1"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hostedRegions": {
            "description": "Hosted probe regions to enable for scanning (Team tier+)",
            "example": [
              "us-east-1"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "host"
        ]
      },
      "UpdateEndpointDto": {
        "type": "object",
        "properties": {
          "sni": {
            "type": "string",
            "description": "SNI override",
            "example": "example.com"
          },
          "label": {
            "type": "string",
            "description": "User-friendly label",
            "example": "Production API"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether endpoint monitoring is active",
            "example": true
          },
          "probeIds": {
            "description": "Connected probe IDs to assign (replaces existing assignments)",
            "example": [
              "probe-uuid-1"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hostedRegions": {
            "description": "Hosted probe regions to enable (replaces existing regions)",
            "example": [
              "us-east-1"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AssignProbesDto": {
        "type": "object",
        "properties": {
          "probeIds": {
            "description": "IDs of connected probes to assign",
            "example": [
              "probe-uuid-1"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "probeIds"
        ]
      },
      "AddHostedRegionDto": {
        "type": "object",
        "properties": {
          "region": {
            "type": "string",
            "description": "Hosted probe region identifier",
            "example": "us-east-1"
          }
        },
        "required": [
          "region"
        ]
      },
      "CreateFeedbackDto": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Feedback message from the user",
            "example": "Great service, very easy to use!"
          },
          "rating": {
            "type": "number",
            "description": "Rating from 1 to 5",
            "example": 5,
            "minimum": 1,
            "maximum": 5
          }
        },
        "required": [
          "message",
          "rating"
        ]
      },
      "CreateNotificationChannelDto": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "slack",
              "teams",
              "webhook"
            ],
            "example": "slack"
          },
          "name": {
            "type": "string",
            "example": "Ops alerts",
            "maxLength": 100
          },
          "url": {
            "type": "string",
            "description": "Destination URL. Slack: an incoming webhook (https://hooks.slack.com/services/...). Teams: a Workflows webhook URL (Office 365 connectors are retired). Webhook: any https URL that resolves only to public addresses. Stored encrypted and never returned in full.",
            "example": "https://hooks.slack.com/services/T000/B000/XXXX"
          },
          "events": {
            "type": "array",
            "description": "Events to send. Defaults to cert.failed, cert.expiring, cert.revoked, cert.replacement_requested, domain.verification_failed, endpoint.scan_failed.",
            "items": {
              "type": "string",
              "enum": [
                "cert.issued",
                "cert.renewed",
                "cert.failed",
                "cert.expiring",
                "cert.revoked",
                "cert.replacement_requested",
                "domain.verification_failed",
                "endpoint.scan_failed"
              ]
            }
          },
          "enabled": {
            "type": "boolean",
            "default": true
          }
        },
        "required": [
          "type",
          "name",
          "url"
        ]
      },
      "UpdateNotificationChannelDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "url": {
            "type": "string",
            "description": "Destination URL. Slack: an incoming webhook (https://hooks.slack.com/services/...). Teams: a Workflows webhook URL (Office 365 connectors are retired). Webhook: any https URL that resolves only to public addresses. Stored encrypted and never returned in full."
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "cert.issued",
                "cert.renewed",
                "cert.failed",
                "cert.expiring",
                "cert.revoked",
                "cert.replacement_requested",
                "domain.verification_failed",
                "endpoint.scan_failed"
              ]
            }
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "CreateOrgDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Acme Corp",
            "description": "Organization name"
          }
        },
        "required": [
          "name"
        ]
      },
      "InviteMemberDto": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address of the user to invite (must already exist in the system)",
            "example": "alice@example.com"
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "member",
              "viewer"
            ],
            "default": "member",
            "description": "Role to assign to the invited user"
          }
        },
        "required": [
          "email"
        ]
      },
      "UpdateOrgDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Acme Corp",
            "description": "New organization name"
          }
        }
      },
      "TransferOwnershipDto": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address of the member to transfer ownership to",
            "example": "alice@example.com"
          }
        },
        "required": [
          "email"
        ]
      },
      "UpdateMemberRoleDto": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "member",
              "viewer"
            ],
            "description": "New role for the member"
          }
        },
        "required": [
          "role"
        ]
      },
      "RegisterProbeDto": {
        "type": "object",
        "properties": {
          "probeId": {
            "type": "string",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "name": {
            "type": "string",
            "example": "krakenkey-prd"
          },
          "version": {
            "type": "string",
            "example": "0.1.0"
          },
          "mode": {
            "type": "string",
            "enum": [
              "standalone",
              "connected",
              "hosted"
            ],
            "example": "connected"
          },
          "region": {
            "type": "string",
            "example": "us-east-1"
          },
          "os": {
            "type": "string",
            "example": "linux"
          },
          "arch": {
            "type": "string",
            "example": "amd64"
          }
        },
        "required": [
          "probeId",
          "name",
          "version",
          "mode",
          "os",
          "arch"
        ]
      },
      "EndpointDto": {
        "type": "object",
        "properties": {
          "host": {
            "type": "string",
            "example": "example.com"
          },
          "port": {
            "type": "number",
            "example": 443
          },
          "sni": {
            "type": "string",
            "example": "example.com"
          }
        },
        "required": [
          "host",
          "port"
        ]
      },
      "ConnectionResultDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          },
          "latencyMs": {
            "type": "number",
            "example": 42
          },
          "tlsVersion": {
            "type": "string",
            "example": "TLS 1.3"
          },
          "cipherSuite": {
            "type": "string",
            "example": "TLS_AES_256_GCM_SHA384"
          },
          "ocspStapled": {
            "type": "boolean"
          }
        },
        "required": [
          "success"
        ]
      },
      "CertificateResultDto": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string",
            "example": "CN=example.com"
          },
          "sans": {
            "example": [
              "example.com",
              "www.example.com"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "issuer": {
            "type": "string",
            "example": "CN=Let's Encrypt Authority X3"
          },
          "serialNumber": {
            "type": "string"
          },
          "notBefore": {
            "type": "string"
          },
          "notAfter": {
            "type": "string"
          },
          "daysUntilExpiry": {
            "type": "number",
            "example": 243
          },
          "keyType": {
            "type": "string",
            "example": "RSA"
          },
          "keySize": {
            "type": "number",
            "example": 2048
          },
          "signatureAlgorithm": {
            "type": "string",
            "example": "sha256WithRSAEncryption"
          },
          "fingerprint": {
            "type": "string"
          },
          "chainDepth": {
            "type": "number",
            "example": 3
          },
          "chainComplete": {
            "type": "boolean"
          },
          "trusted": {
            "type": "boolean"
          }
        }
      },
      "ScanResultDto": {
        "type": "object",
        "properties": {
          "endpoint": {
            "$ref": "#/components/schemas/EndpointDto"
          },
          "connection": {
            "$ref": "#/components/schemas/ConnectionResultDto"
          },
          "certificate": {
            "$ref": "#/components/schemas/CertificateResultDto"
          }
        },
        "required": [
          "endpoint",
          "connection"
        ]
      },
      "SubmitReportDto": {
        "type": "object",
        "properties": {
          "probeId": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": [
              "standalone",
              "connected",
              "hosted"
            ]
          },
          "region": {
            "type": "string",
            "example": "us-east-1"
          },
          "timestamp": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScanResultDto"
            }
          }
        },
        "required": [
          "probeId",
          "mode",
          "timestamp",
          "results"
        ]
      },
      "PublicScanRequestDto": {
        "type": "object",
        "properties": {}
      },
      "CreateReportDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name shown in the report list and on the shared page",
            "example": "Client sites, October"
          },
          "hosts": {
[...]
